<h1 class="logged-out">Sign In</h1>
<%= form_for :user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: 'jane@fake.com' %><br>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: 'password' %><br><br>

  <%= f.submit 'Sign In' %>
<% end %>

<section class="fb-divider">
  <a href="/auth/facebook" class="fb-link">
    <label>Or sign in with Facebook!</label><%= image_tag 'facebook-icon.png' %>
  </a>
</section>
