<h1><%= @student.name %></h1>

<p>Your Assignments:</p>
<ul>
  <%= @assignments.each do |assignment| %>
    <li><%= link_to assignment.material.name, material_path(assignment.material) %></li>
  <% end %>
</ul><br>


<p>View your teachers</p><br><br>

<p><%= link_to 'View all course materials', course_materials_path(@student.course_id) %></p><br><br>


<%= link_to 'Sign Out', signout_path %>
