<h1 class="icon-header">Welcome, New User!</h1>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <h4 class="flash failure"><%= msg %></h4>
  <% end %>
<% end %>

<%= form_for :user do |f| %>
  <%= link_to 'Log in with Facebook!', '/auth/facebook' %><br><br>

  <h4>Or Sign Up Manually</h4>

  <%= f.label 'Check this box if you are an instructor' %>
  <input type="checkbox" name="user[is_teacher]" id="is_teacher"><br><br>

  <% Course.all.each do |course| %>
    <%= radio_button_tag 'user[course_id]', course.id %>
    <label for="user_course_id_<%= course.id %>"name="course_id"><%= image_tag "logo-#{course.fileify}.jpg" %></label>
  <% end %></br>

  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Jane Doe' %><br>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: 'jane@fake.com' %><br>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: 'password' %><br><br>

  <%= f.submit 'Create User' %>
<% end %>
