<h1>Signup</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being created:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :user do |f| %>
  <%= f.label 'Check this box if you are an instructor' %>
  <input type="checkbox" name="user[is_teacher]" id="is_teacher"><br><br>

  <%= link_to 'Log in with Facebook!', '/auth/facebook' %><br><br>

  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :course_id, 'Course' %><br>
  <% Course.all.each do |course| %>
    <%= radio_button_tag :course_id, course.id %>
    <label for="course_id_<%= course.id %>"name="course_id"><%= image_tag "logo-#{course.fileify}.jpg" %></label>
  <% end %></br>


  <%= f.submit 'Create User' %>
<% end %>
