<h1>Teacher Homepage</h1>
<h2><%= @teacher.name %></h2>
<h3><%= @teacher.course.name %></h3>

<div class="interactive">
  <div class="data-container">
    <p>Your students</p>
    <ul>
      <% @students.each do |student| %>
        <li><%= link_to student.name, student.correct_user_path %>
      <% end %>
    </ul>
  </div>

  <div class="data-container">
    <% if viewing_current_user?(@teacher) %>
      <p>Your assignments</p>
      <table class="assignments-list">
        <% @assignments.each do |assignment| %>
          <tr>
            <td><%= link_to assignment.user.name, user_path(assignment.user) %></td>
            <td><%= link_to assignment.material.name, material_path(assignment.material) %></td>
            <td><%= viewed_or_not(assignment) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>


<%= link_to 'SIGN OUT', signout_path %>
