<h1>All Materials</h1>

<ul id="all-materials">
  <% @materials.each do |material| %>
    <li class="border-<%= material.course.fileify %>"><%= link_to "#{material.name} - #{material.course.name}", course_material_path(material.course, material) %> -
      <%= link_to "EDIT", edit_material_path(material) %>
  <% end %>
</ul><br>

<%= link_to 'VIEW BY COURSE', courses_path %><br><br>
<%= link_to 'ADD MATERIALS', correct_new_material_path %>
