<h1>Create new study materials</h1>

<%= form_for @material, {url: '/materials'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label 'Description (optional)' %>
  <%= f.text_field :description %><br>
  <%= f.label :url %>
  <%= f.text_field :url %><br>
  <%= course_id_field(@material) %><br>

  <%= f.submit %>
<% end %>
