<h1>Create new study materials</h1>

<% if @material.errors.any? %>
  <% @material.errors.full_messages.each do |msg| %>
    <h4 class="flash failure"><%= msg %></h4>
  <% end %>
<% end %>

<%= form_for @material, {url: '/materials'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label 'Description (optional)' %>
  <%= f.text_field :description %><br>
  <%= f.label :url %>
  <%= f.text_field :url %><br>
  <%= course_id_field(@material) %><br>

  <%= f.submit %>
<% end %>
