<div class="course-icon-container">
  <a href="<%= edit_user_path(current_user) %>">
    <%= image_tag "logo-#{current_user.course.fileify}.jpg" %>
  </a>
</div>
<a class="navbar-brand" href="<%= homepage_path %>">Home</a>
<a class="navbar-brand" href="<%= materials_path %>">All Materials</a>
<a class="navbar-brand" href="<%= edit_user_path(current_user) %>">Edit User Profile</a>
