<a class="navbar-brand" href="<%= homepage_path %>">Home</a>
<a class="navbar-brand" href="<%= materials_path %>">All Materials</a>
<a class="navbar-brand" href="<%= new_material_path %>">New Materials</a>
<a class="navbar-brand" href="<%= new_assignment_path %>">New Assignments</a>
<a class="navbar-brand" href="<%= edit_user_path(current_user) %>">Edit User Profile</a>
