<!DOCTYPE html>
<html>
  <head>
    <title>ResourcesForVentures</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= logged_in_style %>">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="course-icon-container">
            <%= image_tag 'logo-combo.png' %>
          </div>
          <%= render "/layouts/#{correct_navbar}" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container main-<%= logged_in_style %>"  role="main">

      <% flash.each do |key, value| %>
        <h4 class="flash <%= key %>"><%= value %></h4>
      <% end %>

      <%= yield %>


    </div>
  </body>
</html>
